# PostgreSQL - Bolivia Hub
APP_USER_DB=postgres
APP_HOST_DB=72.60.156.246
APP_NAME_DATABASE=bolivia_hub
APP_PASSWORD_DB=
APP_PORT_DB=5432

# Pool
DB_MIN_SIZE=5
DB_MAX_SIZE=20
DB_COMMAND_TIMEOUT=10.0

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TTL_SECONDS=86400

# API
API_KEY=cambia_esta_clave_segura
API_HOST=0.0.0.0
API_PORT=8000
