URL_BASE='https://plataforma.dev.agetic.gob.bo/ws/api/estado'
PROYECTO='adas-core'
K6_PROMETHEUS_RW_SERVER_URL="http://192.168.59.76:9090/api/v1/write"
K6_PROMETHEUS_RW_TREND_STATS="p(95),p(99),min,max"

K6_STAGE1_DURATION='10s'
K6_STAGE1_USERS=1
K6_STAGE2_DURATION='20s'
K6_STAGE2_USERS=6
K6_STAGE3_DURATION='10s'
K6_STAGE3_USERS=0

