# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Storybook
storybook-static

# typescript
*.tsbuildinfo
# next-env.d.ts

# testing e2e
/test-results/
/playwright-report/
/playwright/.cache/
test/e2e/playwright/config/.env

*storybook.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# Yarn 2+ (Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs genéricos
*.log

# Cache de ESLint
.eslintcache

# Cache de pnpm
.pnpm-store/


# Windows
*:Zone.Identifier

# Visual Studio
.vs/
*.user
*.suo
